

.mat-card {
  width: 55%;
  margin-top: 7px;
  margin-left: 20%;

}

.mat-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-content-cs{
  margin-top: 17px;
  width: 100%;
}

.skill-field{
  float: left;
  border: 1px solid #cfcfcf;
  background: #f0f0f0;
  border-radius: 2px;
  font-weight: 700;
  font-size: 9pt;
  padding: 0 7px;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.content-cs{
  overflow: hidden;
}
