
<script src="TypeOfSkill.ts"></script>
<mat-card class="mat-card" *ngFor="let user of users">
  <mat-card-header class="mat-title-cs">
    <div mat-card-avatar class="mat-header-image"></div>
    <mat-card-title>{{user.lastName}} {{user.firstName}} {{user.middleName}}</mat-card-title>
    <mat-card-subtitle>Univercity</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content class="mat-card-content-cs">
    <div *ngFor="let skill of user.skill">
      <span class="skill-field"> {{skill.skill.name}}</span>
    </div>
  </mat-card-content >
  <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->
</mat-card>
