
<script src="TypeOfSkill.ts"></script>
<mat-card class="mat-card" *ngFor="let user of users"
          [class.selected]="user === selectedUser"
          (click)="onSelect(user)">
  <mat-card-header class="mat-title-cs">
    <div mat-card-avatar class="mat-header-image"><img src="{{user.imgLink}}" width="45" height="45"></div>
    <mat-card-title>{{user.lastName}} {{user.firstName}} {{user.middleName}}</mat-card-title>
    <mat-card-subtitle>Univercity</mat-card-subtitle>

  </mat-card-header>
  <div class="content-cs">
    <mat-card-content class="mat-card-content-cs">
        <mat-chip-list>
            <mat-chip class="chip" *ngFor="let skill of user.skill">{{skill.skill.name}}</mat-chip>
        </mat-chip-list>
    </mat-card-content >
  </div>
</mat-card>

<div *ngIf="selectedUser">
      <h2>{{ selectedUser.firstName | uppercase }} Details</h2>
      <div><span>id: </span>{{selectedUser.id}}</div>
      <div>
        <label>name:
          <input [(ngModel)]="selectedUser.lastName" placeholder="name">
          {{token}}
        </label>
      </div>

</div>
