.main-title-class{
  max-width: 400px;
}

.main-text-class{
  margin-left: 220px;
}
.user-class{
  max-width: 90px;
}

.main-company-class{
  display: inline-flex;
}

.vacancy-class{
  margin-left: 5px;
  max-width: 600px;
  min-width: 600px;
}
