.card-contacts{
  min-width: 200px;
  min-height: 200px;
  margin-top: 10px;
  margin-left: 5%;
}

.title-main{
  display: inline-flex;
}

.user-main-info{
  padding-left: 10px;
}
.education-card{
  max-width: 150px;
}

.education-group{
  display: inline-flex;
  max-width: 300px;
}

.company-class{
  min-width: 150px;
}

.link-group{
  margin-top: 10px;
  display: inline-flex;
  margin-left: 10%;
}

.link-class{
  max-width: 150px;
  min-width: 150px;
  max-height: 200px;
}

.company-group{
  display: inline-flex;
}

.card-main{
  min-height: 200px;
  min-width: 400px;
  margin-top: 10px;
}

.card-history{
  min-width: 80%;
  margin-top: 10px;
  margin-left: 25%;
}

.button-grouph{
  display: inline-flex;
}

.link-info{
  margin-left: 8%;
}

.card-skill{
  min-width: 80%;
  margin-top: 10px;
  margin-left: 25%;
}

.user-info{
  display: inline-flex;
  min-width: 100%;

}

.main-info{
  min-width: 230px;
}

.skill-info{
  margin-left: 5%;
  min-width: 70%;
  max-height: 60px;
}

.mat-header-image {
  min-width: 100px;
  min-height: 100px;
}

.user-name{
  margin-top: 5px;
  font-size: 15px;
}

.add-skill{
  display: inline-flex;
}

.add-new-skill{
  margin-left: 40%;
}

.remove-skill{

}

.apply-remove{
  display: inline-flex;
}

.skill-button{

  color: red;
}


.change-education{
  display: inline-flex;
}

.date-info{
  max-width: 100%;
  //max-height: 45px;
  //min-height: 45px;
}
.height-class{
  max-width: 100%;
  //max-height: 45px;
  //min-height: 45px;

}

.date-info-datepicker{
  max-width: 100%;
  //max-height: 45px;
  //min-height: 45px;
  font-size: 15px;
}

.gender{
  display: inline-flex;
}
.city-class{
  display: inline-flex;
  font-size: 15px;
}
