.card-contacts{
  min-width: 200px;
  min-height: 200px;
  margin-top: 10px;
  margin-left: 10%;
}

.card-main{
  min-height: 200px;
  min-width: 200px;
  margin-top: 10px;
  margin-left: 10%;
}

.card-history{
  min-width: 60%;
  margin-top: 10px;
  margin-left: 10%;
}



.card-skill{
  min-width: 80%;
  margin-top: 10px;
  margin-left: 10%;
}

.user-info{
  display: inline-flex;
  min-width: 90%;
}

.main-info{
  min-width: 230px;
}

.skill-info{
  min-width: 70%;

}

.mat-header-image {
  min-width: 100px;
  min-height: 100px;
}

.user-name{
  margin-top: 5px;
  font-size: 15px;
}

.add-skill{
  display: inline-flex;
}

.add-new-skill{
  margin-left: 40%;
}
