.card-contacts{
  min-width: 150px;
  min-height: 200px;
  margin-top: 10px;
  margin-left: 10%;
}

.card-main{
  min-height: 200px;
  min-width: 150px;
  margin-top: 10px;
  margin-left: 10%;
}

.card-history{
  min-width: 60%;
  margin-top: 10px;
  margin-left: 10%;
}



.card-skill{
  min-width: 60%;
  margin-top: 10px;
  margin-left: 10%;
}

.user-info{
  display: inline-flex;
  min-width: 90%;
}

.main-info{
  min-width: 230px;
}

.skill-info{
  min-width: 70%;
}
