<div class="user-info" >
  <div class="main-info">
    <mat-card class="card-main">
      <mat-card-title>
        <div mat-card-avatar class="mat-header-image"><img src="{{imgLink.link}}"></div>
        <div class="user-name">
          {{myUser.firstName}}
          {{myUser.lastName}}
          {{myUser.middleName}}
        </div>

      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngFor="let educate of education">
            {{educate.typeOfEducation.name}}.
            <br>
            University:
            {{educate.department.faculty.university.name}}
            <br>
            Faculty:
            {{educate.department.faculty.name}}
            <br>
            Department:
            {{educate.department.name}}
            <br>
            End education:
            <br>
            {{educate.dateOfEnd}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngFor="let company of userCompany">
            {{company.company.name}}
            {{company.position.name}}

          </mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <mat-card-content>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-contacts">
      <mat-card-title>
        Contact info:
      </mat-card-title>
      <mat-chip-list>
        <mat-chip *ngFor="let link of links">
          {{link.typeOfLink.name}}
          <br>
          {{link.link}}
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>

  <div class="skill-info">
    <mat-card class="card-skill">
      <mat-card-title>
        Skills
      </mat-card-title>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip *ngFor="let skill of myUser.skill">
            {{skill.skill.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="skills">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-history">
      <mat-card-title>history</mat-card-title>
      <mat-card-subtitle>
        Sum history
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>
