<mat-toolbar class="main-toolbar">
  <span>ISOGJ</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a routerLink="/login" routerLinkActive="menu" mat-button>Sing in</a>
  <a routerLink="/registration" routerLinkActive="menu" mat-button>Sing up</a>
  <a routerLink="/company-list-page" routerLinkActive="menu" mat-button>Vacancy</a>
  <a routerLink="/user-list-page" routerLinkActive="menu" mat-button>User</a>
  <app-lang-select></app-lang-select>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
