<mat-card *ngIf="moreUserInfo">
    <div class="main-info">
      <div mat-card-image="" class="mat-header-image"></div>
        <div class="title-info">
          <mat-card-title class="title-class">
            <mat-card-title >{{moreUserInfo.lastName}} {{moreUserInfo.firstName}} {{moreUserInfo.middleName}}</mat-card-title>
            <mat-card-subtitle >Univercity</mat-card-subtitle>
          </mat-card-title>
          <div class="more-info">
            <mat-card-content>
              <span>info here</span>
            </mat-card-content>
          </div>
        </div>
    </div>
</mat-card>
