.mat-card {
  width: 75%;
  margin-top: 20px;
  margin-left: 10%;

}

.mat-header-image{
  min-height: 350px;
  min-width: 350px;
  max-width: 355px;

}

.title-class{
  min-width: 80%;
  max-height: 6%;

}
.title-info{
  margin-left: 25px;
  display: block;
  min-width: 80%;
}
.more-info{
  margin-top: 5%;
}

.main-info{
  min-width: 100%;
  display: inline-flex;
}
