<mat-toolbar>
  <span>ISOGJ</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <button mat-button>Регистрация</button>
</mat-toolbar>
<div class="login-page-input-form">
  <form (submit)="authenticate($event)">
    <div>
      <mat-input-container>
        <input matInput placeholder="username" type="text" [(ngModel)]="username" name="username">
      </mat-input-container>
    </div>

    <div>
      <mat-input-container>
        <input matInput placeholder="password" type="password" [(ngModel)]="password" name="password">
      </mat-input-container>
    </div>
    <button class="login-button" mat-button type="submit">log in</button>
  </form>
</div>

<div *ngIf="token != null &&  token.length > 0">Your token is {{token}}</div>
