<div class="login-page-input-form">

      <form [formGroup]="form" (ngSubmit)="authenticate($event)">
        <p>Sing in system</p>
        <mat-input-container class="full-width-input">
          <input matInput placeholder="User"
                 formControlName="username" required>
          <mat-error *ngIf="isFieldInvalid('username')">
            Please inform your user name
          </mat-error>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Password"
                 formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please inform your password
          </mat-error>
        </mat-input-container>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
</div>

