.login-page-input-form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  //background: linear-gradient(135deg, #6d3163 0%, #85475c 80%, #b1705e 100%);
}

.login-button {
  align-items: flex-end;
}