<div class="login-page-input-form">
  <form (submit)="authenticate($event)">
    <div>
      <mat-input-container>
        <input matInput placeholder="username" type="text" [(ngModel)]="username" name="username">
      </mat-input-container>
    </div>

    <div>
      <mat-input-container>
        <input matInput placeholder="password" type="password" [(ngModel)]="password" name="password">
      </mat-input-container>
    </div>
    {{error}}
    <button class="login-button" mat-button type="submit">log in</button>
  </form>
</div>

