<div>
    <h1 class="page-select">
	Регистрация
    </h1>
    <div class="reg-inputs">
           <form class="reg-form">
              <mat-form-field class="full-width">
                 <input matInput placeholder="Логин*">
              </mat-form-field>
              <mat-form-field class="full-width">
                 <input matInput placeholder="E-mail*">
              </mat-form-field>
              <mat-form-field class="full-width">
                 <input matInput placeholder="Имя">
              </mat-form-field>
              <mat-form-field class="full-width">
                 <input matInput placeholder="Фамилия">
              </mat-form-field>
              <mat-form-field class="full-width">
                 <input matInput placeholder="Отчество">
              </mat-form-field>
              <button mat-raised-button color="primary">Отправить</button>
           </form> 
    </div>
</div>
