


<mat-card class="mat-card" *ngFor="let vacancy of vacancyList">
  <mat-card-header class="mat-title-cs">
    <div mat-card-avatar class="mat-header-image" *ngIf="vacancy.vacancy.company"><img src="{{vacancy.vacancy.company.companyLogo}}" width="70" height="70"></div>
    <mat-card-title>{{vacancy.vacancy.info}}</mat-card-title>
    <mat-card-subtitle>
      {{ 'VACANCYS.COMPANY.PLACEHOLDER' | translate }}
      Company:
      {{vacancy.vacancy.company.name}}
      <br>
      {{ 'VACANCYS.VACANCY_TYPE.PLACEHOLDER' | translate }}
      {{vacancy.vacancy.typeOfVacancy.name}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mat-card-content-cs">
      <mat-chip-list>
          <mat-chip class="chip" *ngFor="let skill of vacancy.skillDtoList">{{skill.skill.name}}</mat-chip>
      </mat-chip-list>
  </mat-card-content >
</mat-card>

<mat-paginator [length]="vacancyCount"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 50]"
               [pageIndex]="pageNum"
               (page)="getNextPage($event)">
</mat-paginator>



