


<mat-card class="mat-card" *ngFor="let vacancy of vacancies">
  <mat-card-header class="mat-title-cs">
    <div mat-card-avatar class="mat-header-image"></div>
    <mat-card-title>{{vacancy.info}}</mat-card-title>
    <mat-card-subtitle>
      Company:
      {{vacancy.company.name}}
      <br>
      {{vacancy.typeOfVacancy.name}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mat-card-content-cs">
      <mat-chip-list>
          <mat-chip class="chip" *ngFor="let skill of vacancy.skills">{{skill.skill.name}}</mat-chip>
      </mat-chip-list>
  </mat-card-content >
</mat-card>

<mat-paginator [length]="vacancyCount"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 50]"
               [pageIndex]="pageNum"
               (page)="getNextPage($event)">
</mat-paginator>



