<mat-toolbar color="milk">
  <span class="example-fill-remaining-space">ISOGJ</span>
  <div class="heads">
    <div *ngIf="isLoggedIn$ | async; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-button routerLink="/company-list-page" routerLinkActive="menu">Vacancy</button>
      <button mat-button routerLink="/user-list-page" routerLinkActive="menu">User</button>
      <button mat-button routerLink="/home-page" routerLinkActive="menu">Home</button>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">Logout</button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-button routerLink="/login" routerLinkActive="menu" >Sign in</button>
      <button mat-button routerLink="/registration" routerLinkActive="menu" >Sign up</button>
      <button mat-button routerLink="/company-list-page" routerLinkActive="menu">Vacancy</button>
      <button mat-button routerLink="/user-list-page" routerLinkActive="menu">User</button>
    </ng-template>
    </div>
  <div class="lang-select">
    <app-lang-select></app-lang-select>
  </div>

</mat-toolbar>
